@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}

.navbar {
    background: linear-gradient(to right, #d4381def, #fd2903ef);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.container .icon {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    padding-left: 30px;
    cursor: pointer;
    
}

.container ul {
    display: flex;
}

ul li {
    display: flex;
    font-size: 20px;
    padding: 0px 10px;
    list-style: none;
}

ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
}

ul li a:hover {
    background: #f6f5f7;
    color: #000;
    border-radius: 50px; 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

ul li a:active {
    transform: scale(0.95);
}

ul li a#onlink {
    background: #f6f5f7;
    color: #000;
    border: transparent;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 600px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 50%;
    margin: 40px;
    padding: 10px;
}

.right-container {
    margin: 40px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 50%; 
}


.left-scroll {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0px 20px;
    border: 1px transparent;
    border-top: none;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    height: 50%;
    width: 80%;
    background-color: #f4f4f4;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.right-scroll {
    padding: 0px 20px;
    margin: 0 auto;
    border: 1px transparent;
    border-top: none;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    height: 83%;
    width: 80%;
    background-color: #f4f4f4;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);

}

.left-title {
    color: #fff;
    margin: 0 auto;
    margin-top: 20px ;
    padding: 10px 21px;
    width: 500px;
    background: linear-gradient(to right, #d4381def, #fd2903ef);
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    box-shadow: 0px 10px 28px #000000;
    
}

.right-title {

    margin: 0 auto;
    color: #fff;
    margin-top: 25px;
    padding: 10px 20px;
    width: 80%;
    background: linear-gradient(to right, #d4381def, #fd2903ef);    
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    box-shadow: 0px 10px 28px #000000;
}