@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    margin: 0;
    padding: 0;
    background: #f6f5f7;
    font-family: Montserrat;
    box-sizing: border-box;
}

nav {
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #ff4b2b,
    #ff416c) no-repeat 0 0 / cover;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
        0 10px 10px rgba(0, 0, 0, 0.22);
}

nav .icon {
    padding-left: 100px;
    padding-top: 10px;
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
    
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto 20px;
}

nav ul li {
    margin: 10px;
    padding: 10px;
    height: px;
}

nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    
}

nav ul li a:hover {
    background: #f6f5f7;
    color: #000;
    border-radius: 50px; 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

nav ul li a#onlink {
    background: #f6f5f7;
    color: #000;
    border: transparent;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search_box input {
    border: none;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    background: #fff;
    padding: 0 10px;
    height: 100%;
    font-size: 20px;
    width: 350px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

nav .search_box span {
    color: #000;
    font-size: 15px;
    background: #fff;
    border: none;
    border-radius: 0px 20px 20px 0px;
    height: 43%;
    padding: 10px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
nav .search_box span:hover {
    color:#fff;
}

nav .search_box span:after {
    height: 100%;
    width: 0%;
    content: '';
    background: #fa320f;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s;
}

nav .search_box span:hover::after {
    width: 100%;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}


input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

@media screen and (max-width: 1250px){
    nav {
        display: block;
        padding: 0;
    }
    nav .icon { 
        display: inline-block;
        padding: 15px 30px;
    }
    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input {
        width: 90%;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        background: #f6f5f7;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ul lu { 
        text-align:center;
    }
    nav ul li a {
        color: #000;
        font-size: 28px;
        padding: 25px;
        display: block;
    }
    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times {
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }    
    #check:checked ~ nav .bar ul {
        visibility: visible;
        height:465px;
    }
    nav ul li a:hover {
        background: #f6f5f7;
        color: #000;
        padding:25px;
        border: transparent;
        border-radius: 10px 10px 10px 10px;
    }
}

.parent-container{
    display: flex;
    font-family: "Montserrat";
}

.chld-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 50px;
    padding: 50px;
    font-weight: bold;
    background: linear-gradient(to right, #ff4b2b,
    #ff416c) no-repeat 0 0 / cover;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.left-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
}

.form-container {
    display: flex;
    padding-left: 50px;
    margin-top: 20px;
}

.form-container form .text-area {
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

#selector-1{
    margin-right: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.right-container{
    border-left: 0.5px solid;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.right-container label{
    margin-top: 25px;
    justify-content: center;
}

.right-container input{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 5px 0px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.right-container select{
    width: 75%;
    margin-left:15%;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.right-container button {
    margin-top: 100px;
    width: 20%;
    transform: translateX(200%);
    font-size: 30px;
    border: none;
    border-radius: 50px;
    font-family: Montserrat;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

